<MudCard Elevation="2" Class="pa-4 h-100">
    <MudCardHeader>
        <CardHeaderContent>
            <MudText Typo="Typo.h6">Quick Actions</MudText>
        </CardHeaderContent>
    </MudCardHeader>
    <MudCardContent>
        <MudStack Spacing="3">
            <MudButton Variant="Variant.Outlined" 
                       Color="Color.Primary" 
                       StartIcon="Icons.Material.Filled.AccountBalance"
                       FullWidth="true"
                       Size="Size.Large"
                       Class="justify-start"
                       Href="/accounts">
                <div class="d-flex flex-column align-start">
                    <MudText Typo="Typo.body1">Add Account</MudText>
                    <MudText Typo="Typo.caption" Color="Color.Secondary">
                        Connect a new bank account
                    </MudText>
                </div>
            </MudButton>
            
            <MudButton Variant="Variant.Outlined" 
                       Color="Color.Secondary" 
                       StartIcon="Icons.Material.Filled.Receipt"
                       FullWidth="true"
                       Size="Size.Large"
                       Class="justify-start"
                       Href="/transactions">
                <div class="d-flex flex-column align-start">
                    <MudText Typo="Typo.body1">Record Transaction</MudText>
                    <MudText Typo="Typo.caption" Color="Color.Secondary">
                        Add income or expense
                    </MudText>
                </div>
            </MudButton>
            
            <MudButton Variant="Variant.Outlined" 
                       Color="Color.Tertiary" 
                       StartIcon="Icons.Material.Filled.PieChart"
                       FullWidth="true"
                       Size="Size.Large"
                       Class="justify-start"
                       Href="/budgets">
                <div class="d-flex flex-column align-start">
                    <MudText Typo="Typo.body1">Create Budget</MudText>
                    <MudText Typo="Typo.caption" Color="Color.Secondary">
                        Set spending limits
                    </MudText>
                </div>
            </MudButton>
            
            <MudButton Variant="Variant.Outlined" 
                       Color="Color.Success" 
                       StartIcon="Icons.Material.Filled.TrendingUp"
                       FullWidth="true"
                       Size="Size.Large"
                       Class="justify-start"
                       Href="/goals">
                <div class="d-flex flex-column align-start">
                    <MudText Typo="Typo.body1">Set Financial Goal</MudText>
                    <MudText Typo="Typo.caption" Color="Color.Secondary">
                        Plan for the future
                    </MudText>
                </div>
            </MudButton>
        </MudStack>
    </MudCardContent>
</MudCard>

@code {
    // This component provides quick access to common financial tracking actions
    // The buttons navigate to their respective pages for detailed functionality
}